<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 class="panel-title">Bedroom Ultra-Violet Light</h3>
            </div> <!-- card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-sm-8">
                        <ul class="list-group">
                            <li class="list-group-item">
                                ESwitch:
                                <mat-button-toggle-group #group="matButtonToggleGroup">
                                    <mat-button-toggle value="ONN" (click)="toggleSwitch(true)">
                                        <button mat-raised-button class="btn-warning" style="pointer-events:none;">ONN</button>
                                    </mat-button-toggle>
                                    <mat-button-toggle value="OFF" (click)="toggleSwitch(false)">
                                        <button mat-raised-button class="btn-info" style="pointer-events:none;">OFF</button>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </li>
                            <li class="list-group-item">
                                <div class="example-selected-value"> Status:
                                    <h5>
                               <span class="badge {{ group.value === 'ONN' ? 'badge-success' : 'badge-danger' }} ">
                                    {{group.value}}
                                </span>
                                    </h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> <!-- card-body -->
        </div> <!-- card -->
    </div>
</div>
