<div class="row">
    <div class="col-md-1">&nbsp;</div>
    <div class="timeline2 col-md-10">
        <div class="header">
            <h1 class="card-title">Events Timeline</h1>
        </div>

        <ul>
            <li (inViewportAction)="checkIfInViewport($event)" *ngFor="let log of logsModel | keyvalue" class="in-view"
                inViewport>
                <div>
                    <time>17<sup>th</sup> of July 2019</time>
                    {{log.value.item}} - {{log.value.status}}.
                    <span>{{log.value.dateTime.toString() | timeAgo}}</span>
                </div>
                <span class="time">
					<span>{{twentyFourHrFormat(extractDate(log.value.dateTime.toString()).getHours()) + ':' + twentyFourHrFormat(extractDate(log.value.dateTime.toString()).getMinutes()) + ':' + twentyFourHrFormat(extractDate(log.value.dateTime.toString()).getSeconds()) }}</span>
				</span>
            </li>
        </ul>
    </div>
    <div class="col-md-1">&nbsp;</div>
</div>
