<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">
        <div id="tasks-card" class="card">        <!-- Card replaced panel -->
            <div class="card-header">
                <h3 class="panel-title">Sean Huni's Crib</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <app-device-list></app-device-list>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!--<app-device-detail></app-device-detail>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">&nbsp;</div>
</div>
